<template>
  <div class="category">
    <hm-header>栏目管理</hm-header>
    <div class="mycategory">
      <p>点击删除以下频道</p>
      <div class="spanlist">
        <span
          v-for="item in activelist"
          :key="item.id"
          @click="delcategory(item.id)"
          >{{ item.name }}</span
        >
      </div>
    </div>
    <div class="addcategory">
      <p>点击添加以下频道</p>
      <div class="spanlist">
        <span
          v-for="item in deactivelist"
          :key="item.id"
          @click="addgategory(item.id)"
          >{{ item.name }}</span
        >
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      activelist: [],
      deactivelist: []
    }
  },
  methods: {
    async getcategory() {
      const activelist = JSON.parse(localStorage.getItem('activelist'))
      const deactivelist = JSON.parse(localStorage.getItem('deactivelist'))
      if (deactivelist) {
        this.activelist = activelist
        this.deactivelist = deactivelist
        return
      }
      const res = await this.$axios.get('/category')
      const { statusCode, data } = res.data
      if (statusCode == 200) {
        this.activelist = data
        console.log(this.activelist)
      }
    },
    delcategory(id) {
      const idx = this.activelist.findIndex(value => {
        return value.id == id
      })
      this.deactivelist.push(this.activelist[idx])
      this.activelist.splice(idx, 1)
    },
    addgategory(id) {
      const idx = this.deactivelist.findIndex(value => {
        return value.id == id
      })
      this.activelist.push(this.deactivelist[idx])
      this.deactivelist.splice(idx, 1)
    }
  },
  created() {
    this.getcategory()
  },
  watch: {
    activelist: {
      deep: true,
      handler() {
        localStorage.setItem('activelist', JSON.stringify(this.activelist))
        localStorage.setItem('deactivelist', JSON.stringify(this.deactivelist))
      }
    }
  }
}
</script>
<style lang="less" scoped>
.category {
  .mycategory {
    padding: 15px;
    p {
      font-size: 12px;
      padding: 5px 0;
      color: #666;
    }
    .spanlist {
      padding-left: 12px;
      span {
        display: inline-block;
        font-size: 15px;
        border: 1px solid #000;
        padding: 5px;
        width: 60px;
        text-align: center;
        background-color: #ccc;

        margin: 8px;
      }
    }
  }
  .addcategory {
    padding: 15px;
    p {
      font-size: 12px;
      padding: 5px 0;
      color: #666;
    }
    .spanlist {
      padding-left: 12px;
      span {
        display: inline-block;
        font-size: 15px;
        border: 1px solid #000;
        padding: 5px;
        width: 60px;
        text-align: center;
        background-color: #ccc;

        margin: 8px;
      }
    }
  }
}
</style>
