<template>
  <div class="collect">
    <hm-header>我的收藏</hm-header>
    <van-list
      v-model="loading"
      :finished="finished"
      finished-text="我是有底线的"
      @load="onLoad"
      :immediate-check="false"
    >
      <hm-collect v-for="item in list" :key="item.id" :item="item"></hm-collect>
    </van-list>
  </div>
</template>

<script>
export default {
  data() {
    return {
      list: [],
      loading: false,
      finished: false,
      pageIndex: 1,
      pageSize: 10
    }
  },
  created() {
    this.getCollect()
  },
  methods: {
    getCollect() {
      this.$axios({
        method: 'get',
        url: '/user_star',
        params: {
          pageIndex: this.pageIndex,
          pageSize: this.pageSize
        }
      }).then(res => {
        // console.log(res.data)
        const { statusCode, data } = res.data
        //处理comment长度的问题
        data.forEach(item => {
          item.comment_length = item.comments.length
        })
        this.list = [...this.list, ...data]
        this.loading = false
        if (data.length < this.pageSize) {
          this.finished = true
        }
      })
    },
    onLoad() {
      setTimeout(() => {
        this.pageIndex++
        this.getCollect()
      }, 1000)
    }
  }
}
</script>

<style lang="less" scoped></style>
