<template>
  <div>
    <hm-header>编辑资料</hm-header>
    <div class="headimg">
      <img :src="$axios.defaults.baseURL + info.head_img" alt />
      <van-uploader class="uploader" :after-read="afterRead" :before-read="beforeRead" />
    </div>
    <hm-navbar title="昵称" :inner="info.nickname" @click="changenicknameFn"></hm-navbar>
    <hm-navbar title="密码" :inner="info.password.replace(/./g, '*')" @click="changepasswordFn"></hm-navbar>
    <hm-navbar title="性别" :inner="info.gender == '1' ? '男' : '女'" @click="changegenderFn"></hm-navbar>
    <!-- 昵称弹出框 -->
    <van-dialog v-model="isShow" title="更改昵称" show-cancel-button @confirm="editnickname">
      <van-field v-model="nickname" label="昵称" placeholder="请输入要更改的昵称" class="nicknamecss" />
    </van-dialog>
    <!-- 密码弹出框 -->
    <van-dialog v-model="isShow1" title="更改昵称" show-cancel-button @confirm="editpassword">
      <van-field v-model="password" label="密码" placeholder="请输入要更改的密码" class="nicknamecss" />
    </van-dialog>

    <!-- 性别修改弹出框 -->
    <van-dialog v-model="isShow2" title="更改性别" show-cancel-button @confirm="editgender">
      <van-radio-group v-model="gender">
        <van-cell-group>
          <van-cell title="男" clickable @click="gender = 1">
            <van-radio slot="right-icon" :name="1" />
          </van-cell>
          <van-cell title="女" clickable @click="gender = 0">
            <van-radio slot="right-icon" :name="0" />
          </van-cell>
        </van-cell-group>
      </van-radio-group>
    </van-dialog>

    <!-- //上传头像遮罩 -->
    <div class="cropper-mask" v-show="cropperShow">
      <vue-cropper
        :img="content"
        :autoCrop="true"
        :autoCropWidth="150"
        :autoCropHeight="150"
        :fixed="true"
        :fixedBox="true"
        ref="cropper"
      ></vue-cropper>
      <van-button type="primary" class="left" @click="cropper">裁剪</van-button>
      <van-button type="default" class="right" @click="uncropper">取消</van-button>
    </div>
  </div>
</template>

<script>
//导入vue-cropper
import { VueCropper } from 'vue-cropper'
export default {
  components: { VueCropper },
  data() {
    return {
      info: {
        password: ''
      },
      isShow: false,
      nickname: '',
      isShow1: false,
      password: '',
      isShow2: false,
      gender: 1,
      cropperShow: false,
      content: ''
    }
  },
  created() {
    this.getinfo()
  },
  methods: {
    //发送ajax请求
    async getinfo() {
      const token = localStorage.getItem('token')
      const user_id = localStorage.getItem('user_id')

      const res = await this.$axios({
        method: 'get',
        url: `/user/${user_id}`
      })

      // console.log(res.data)
      const { data } = res.data
      this.nickname = data.nickname
      this.info = data
    },
    //定义修改用户信息的通用方法
    async edituser(data) {
      const user_id = localStorage.getItem('user_id')
      const token = localStorage.getItem('token')
      //发送axios请求
      const res1 = await this.$axios({
        method: 'post',
        url: `/user_update/${user_id}`,

        data
      })

      if (res1.data.statusCode == 200) {
        // this.$router.push('/editinfo')
        this.getinfo()
        this.$toast.success('修改成功')
      }
    },
    //让修改昵称显示
    changenicknameFn() {
      this.isShow = true
      this.nickname = this.info.nickname
    },
    //确认修改执行
    editnickname() {
      this.edituser({
        nickname: this.nickname
      })
    },
    changepasswordFn() {
      // console.log('更改密码')
      this.isShow1 = true
      this.password = this.info.password
    },
    editpassword() {
      // console.log('修改密码', this.password)
      this.edituser({
        password: this.password
      })
    },
    changegenderFn() {
      this.isShow2 = true
      this.gender = this.info.gender
    },
    editgender() {
      this.edituser({
        gender: this.gender
      })
    },
    afterRead(file) {
      this.cropperShow = true
      // console.log(file)
      this.content = file.content
    },
    beforeRead(file) {
      const { size, type } = file
      if (type !== 'image/jpeg') {
        this.$toast.fail('图片格式不正确')
        return false
      }
      return true
    },
    cropper() {
      this.$refs.cropper.getCropBlob(async data => {
        const fd = new FormData()
        fd.append('file', data)
        //发送异步的ajax请求
        const res = await this.$axios({
          method: 'post',
          url: '/upload',
          data: fd
        })
        // console.log(res.data)
        const { statusCode, data: data1 } = res.data
        if (statusCode == 200) {
          this.edituser({
            head_img: data1.url
          })

          this.cropperShow = false
        }
      })
    },
    uncropper() {
      this.cropperShow = false
    }
  }
}
</script>

<style lang="less" scoped>
.headimg {
  position: relative;
  img {
    width: 80px;
    height: 80px;
    border-radius: 100px;
    display: block;
    top: 0;
    margin: 15px auto;
  }
  .uploader {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
  }
}
van-dialog {
  padding: 10px;
}
.nicknamecss {
  border: 1px solid #ccc;
  margin-top: 10px;
}
.cropper-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  .left,
  .right {
    position: absolute;
    top: 0;
    // z-index: 999;
  }
  .right {
    right: 0;
  }
}
</style>
