<template>
  <div>
    <hm-header>我的关注</hm-header>
    <hm-focus
      v-for="item in items"
      :key="item.id"
      :nickname="item.nickname"
      :create_date="item.create_date"
      :head_img="item.head_img"
      :id="item.id"
      @click="cacelfocusFn"
    ></hm-focus>
  </div>
</template>

<script>
export default {
  data() {
    return {
      items: {}
    }
  },
  methods: {
    async getfocus() {
      //发送axios请求

      const res = await this.$axios({
        method: 'GET',
        url: '/user_follows'
      })

      const { data, statusCode } = res.data
      if (statusCode == 200) {
        this.items = data
      }
    },
    async cacelfocusFn(id) {
      try {
        await this.$dialog.confirm({
          title: '温馨提示',
          message: '确定取消关注吗'
        })
        const res = await this.$axios({
          method: 'get',
          url: `/user_unfollow/${id}`
        })
        if (res.data.statusCode == 200) {
          this.$toast.success(res.data.message)

          //----------------------------------
          //发送axios请求
          this.getfocus()
          // ------------------------------
        }
      } catch {
        this.$toast('操作取消')
      }
    }
  },
  //钩子函数
  created() {
    this.getfocus()
  }
}
</script>

<style></style>
