<template>
  <div class="follow">
    <hm-header>我的跟帖</hm-header>
    <van-list
      v-model="loading"
      :finished="finished"
      finished-text="我是有底线的"
      @load="onLoad"
      :immediate-check="false"
    >
      <div class="list" v-for="item in list" :key="item.id">
        <div class="create_date">{{ item.create_date | date }}</div>
        <!-- 二级的跟帖 -->
        <div class="parent_content" v-if="item.parent">
          <div class="pnickname">回复: {{ item.parent.user.nickname }}</div>
          <div class="pcontent">{{ item.parent.content }}</div>
        </div>
        <div class="content">{{ item.content }}</div>
        <div class="link">
          <div class="left one_nowrap">原文：{{ item.post.title }}</div>
          <div class="right">
            <span class="iconfont iconjiantou1"></span>
          </div>
        </div>
      </div>
    </van-list>
  </div>
</template>

<script>
export default {
  data() {
    return {
      list: [],
      loading: false,
      finished: false,
      pageIndex: 1,
      pageSize: 10
    }
  },
  created() {
    this.getFollowList()
  },
  methods: {
    getFollowList() {
      this.$axios({
        method: 'get',
        url: '/user_comments',
        params: {
          pageIndex: this.pageIndex,
          pageSize: this.pageSize
        }
      }).then(res => {
        // console.log(res.data)
        const { statusCode, data } = res.data
        if (statusCode == 200) {
          this.list = [...this.list, ...data]
          this.loading = false
          if (data.length < this.pageSize) {
            this.finished = true
          }
        }
      })
    },
    onLoad() {
      setTimeout(() => {
        this.pageIndex++
        this.getFollowList()
      }, 1000)
    }
  }
}
</script>

<style lang="less" scoped>
.list {
  padding: 0 15px;
  border-bottom: 1px solid #999;
  .create_date {
    font-size: 14px;
    color: #999;
    height: 30px;
    line-height: 30px;
  }
  .content {
    font-size: 14px;

    height: 30px;
    line-height: 30px;
  }
  .one_nowrap {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .link {
    display: flex;
    height: 30px;
    line-height: 30px;
    color: #999;
    .left {
      flex: 1;
    }
    .right {
      width: 20px;
      right: 10px;
    }
  }
  .parent_content {
    background-color: #eee;
    // margin: 10px;
    padding: 10px;
    width: 100%;
    height: 70px;
    .pnickname,
    .pcontent {
      color: #888;
      padding-left: 10px;
      height: 25px;
      line-height: 25px;
    }
  }
}
</style>
