<template>
  <div class="home">
    <div class="header">
      <div class="left">
        <span class="iconfont iconnew"></span>
      </div>
      <div class="center" @click="$router.push('/search')">
        <span class="iconfont iconsearch"></span>
        <span class>搜索新闻</span>
      </div>
      <div class="right" @click="$router.push('/user')">
        <span class="iconfont iconwode"></span>
      </div>
    </div>
    <div class="hm-tab">
      <van-tabs v-model="active" animated swipeable sticky>
        <van-tab v-for="item in list" :key="item.id" :title="item.name">
          <van-pull-refresh v-model="isLoading" @refresh="onRefresh" success-text="刷新成功">
            <van-list
              v-model="loading"
              :finished="finished"
              finished-text="没有更多了"
              @load="onLoad"
              :immediate-check="false"
              :offset="30"
            >
              <hm-collect v-for="item in post" :key="item.id" :item="item" @click="goinfo(item.id)"></hm-collect>
            </van-list>
          </van-pull-refresh>
        </van-tab>
      </van-tabs>
    </div>
  </div>
</template>

<script>
export default {
  name: 'home',
  data() {
    return {
      active: 0,
      list: [],
      post: [],
      loading: false,
      finished: false,
      pageIndex: 1,
      pageSize: 5,
      isLoading: false
    }
  },
  methods: {
    //获取tab栏的数据
    async gettablist() {
      const activelist = JSON.parse(localStorage.getItem('activelist'))

      if (activelist) {
        this.list = activelist
        // console.log(this.list)
        this.getpost(this.list[this.active].id)
        return
      }
      const res = await this.$axios.get('/category')

      const { statusCode, data } = res.data
      if (statusCode == 200) {
        this.list = data
        // console.log(this.list)
        this.getpost(this.list[this.active].id)
      }
    },
    //获取tab对应的文章列表
    async getpost(id) {
      const res = await this.$axios({
        method: 'get',
        url: '/post',
        params: {
          category: id,
          pageIndex: this.pageIndex,
          pageSize: this.pageSize
        }
      })
      const { statusCode, data } = res.data
      if (statusCode == 200) {
        if (this.post.length > 0 && this.pageIndex === 1) {
          this.post = []
        }
        this.post = [...this.post, ...data]
        this.loading = false

        if (data.length < this.pageSize) {
          this.finished = true
        }
      }
    },
    onLoad() {
      setTimeout(() => {
        this.pageIndex++
        this.getpost(this.list[this.active].id)
      }, 1500)
    },
    onRefresh() {
      setTimeout(() => {
        this.post = []
        this.pageIndex = 1
        this.finished = false
        this.loading = true
        this.getpost(this.list[this.active].id)
        this.isLoading = false
      }, 1000)
    },
    goinfo(id) {
      this.$router.push(`/postinfo?id=${id}`)
    }
  },
  created() {
    this.gettablist()
  },
  watch: {
    active() {
      // console.log(this.active)
      this.post = []
      this.pageIndex = 1
      this.finished = false
      this.loading = true
      setTimeout(() => {
        this.getpost(this.list[this.active].id)
      }, 1000)
      //   this.getpost(this.list[this.active].id)
      // console.log(this.post)
    }
  },

  //判断是否是不是去详情页的
  beforeRouteLeave(to, from, next) {
    if (to.name != 'postinfo') {
      this.$store.commit('del', {
        name: 'home'
      })
    }
    next()
  }
}
</script>

<style lang="less" scoped>
.home {
  .header {
    display: flex;
    // padding: 5px;
    height: 50px;
    line-height: 50px;
    background-color: red;
    .left,
    .right {
      width: 50px;
      text-align: center;
    }
    .left {
      text-align: center;
      margin-left: 10px;
      span {
        font-size: 50px;
        color: white;
      }
    }
    .center {
      text-align: center;
      flex: 1;
      border: 1px solid #ccc;
      border-radius: 40px;
      background-color: rgba(0, 0, 0, 0.1);
      line-height: 30px;
      margin: 10px 10px;

      span {
        font-size: 18px;
        margin-left: 5px;
        color: white;
      }
    }
    .right {
      span {
        font-size: 26px;
        color: white;
      }
    }
  }
  /deep/ .van-tabs__nav {
    background-color: #eee;
  }
}
</style>
