<template>
  <div>
    <hm-header>登录</hm-header>
    <hm-logo></hm-logo>
    <hm-input
      ref="username"
      type="text"
      placeholder="请输入用户名"
      v-model="username"
      :rule="/^1\d{3,10}$/"
      message="用户名格式不正确"
    ></hm-input>
    <hm-input
      ref="password"
      type="password"
      placeholder="请输入密码"
      v-model="password"
      :rule="/^\d{3,10}$/"
      message="密码格式不正确"
    ></hm-input>

    <hm-button @click="login">登录</hm-button>
    <div class="goregister">
      <span>没有账号?去</span>
      <router-link to="/register">注册</router-link>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  data() {
    return {
      username: '',
      password: ''
    }
  },
  methods: {
    async login() {
      //先调用input的表单校验方法进行校验

      if (!this.$refs.username.validate(this.username)) {
        return
      }
      if (!this.$refs.password.validate(this.password)) {
        return
      }

      const res = await this.$axios({
        url: '/login',
        method: 'post',
        data: {
          username: this.username,
          password: this.password
        }
      })
      // console.log(res.data)
      const { message } = res.data
      if (res.data.statusCode == 200) {
        // console.log('登录成功啦')
        //提示登录成功
        this.$toast.success(message)

        // console.log(res.data.data.token)
        //登录成功获取到唯一的token值存起来
        const token = res.data.data.token
        localStorage.setItem('token', token)
        localStorage.setItem('user_id', res.data.data.user.id)
        //判断是否有back为true,有就回退
        if (this.$route.params.back) {
          this.$router.go(-1)
        }

        //跳转到个人中心
        this.$router.push('/user')
      } else {
        this.$toast.fail(message)
        // console.log('登录失败')
      }
    }
  },
  created() {
    this.username = this.$route.params.username
    this.password = this.$route.params.password
  }
}
</script>

<style lang="less" scoped>
.goregister {
  margin-top: 20px;
  text-align: right;
  padding-right: 10px;
  span {
    font-size: 15px;
  }
  a {
    font-size: 15px;
    color: orange;
  }
}
</style>
