﻿<template>
  <div class="post-info">
    <!-- 图片样式的文章 -->
    <div class="imgpost">
      <div class="header">
        <div class="left" @click="$router.go(-1)">
          <span class="iconfont iconjiantou"></span>
        </div>
        <div class="center">
          <span class="iconfont iconnew"></span>
        </div>
        <div class="right">
          <div class="focued" v-if="data.has_follow" @click="unfollow">已关注</div>
          <div class="focu" v-else @click="follow">关注</div>
        </div>
      </div>
      <div class="inner">
        <div class="title">{{ data.title }}</div>
        <div class="userinfo">
          <span>{{ nickname }}</span>
          <span>{{ data.create_date | date2 }}</span>
        </div>
        <div v-if="data.type === 1" class="postinner" v-html="data.content"></div>
        <video v-else-if="data.type === 2" :src="data.content" controls></video>
        <div class="weixin">
          <span
            class="iconfont icondianzan"
            :class="{ haslike: data.has_like }"
            @click="like"
          >{{ data.like_length }}</span>
          <span class="iconfont iconweixin">微信</span>
        </div>
      </div>
      <div class="follow">
        <div class="title">精彩跟帖</div>
        <div class="empty" v-if="postcomment.length == 0">暂无跟帖,抢占沙发</div>
        <hm-wonder v-else :list="postcomment" @reply="reply"></hm-wonder>
      </div>
    </div>

    <!-- 视频样式的文章 -->

    <!-- 公用的底部 -->
    <div class="footer">
      <div class="commenbt" v-if="!isShow">
        <div class="input">
          <input type="text" placeholder="写跟贴" @focus="handelerfocus" />
        </div>

        <div class="icon">
          <span class="iconfont iconpinglun-"></span>
          <span class="count">{{ data.comment_length }}</span>
          <span class="iconfont iconshoucang" :class="{ hasstar: data.has_star }" @click="star"></span>
          <span class="iconfont iconfenxiang"></span>
        </div>
      </div>
      <div class="textarea" v-else>
        <textarea
          type="textarea"
          :placeholder="`回复:${replynickname}`"
          v-model="inputinner"
          ref="textarea"
          @blur="handelerblur"
          @keyup.enter="sendFn"
        ></textarea>
        <div class="send" @click="sendFn">发送</div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      id: '',
      data: {},
      nickname: '',
      postcomment: [],
      inputinner: '',
      isShow: false,
      replyid: '',
      replynickname: ''
    }
  },
  methods: {
    async getinfo() {
      const res = await this.$axios({
        method: 'get',
        url: `/post/${this.id}`
      })
      const { statusCode, data } = res.data
      if (statusCode == 200) {
        this.data = data
        this.nickname = this.data.user.nickname
      }
    },
    async getpostcomment() {
      const res = await this.$axios({
        method: 'get',
        url: `/post_comment/${this.id}`
      })

      const { statusCode, data } = res.data
      if (statusCode == 200) {
        this.postcomment = data
      }
    },
    async follow() {
      const res = await this.$axios.get(`/user_follows/${this.data.user.id}`)
      if (res.data.statusCode == 200) {
        this.getinfo()
      }
    },
    async unfollow() {
      const res = await this.$axios.get(`/user_unfollow/${this.data.user.id}`)
      if (res.data.statusCode == 200) {
        this.getinfo()
      }
    },
    async sendFn() {
      const res = await this.$axios({
        method: 'post',
        url: `/post_comment/${this.data.id}`,
        data: {
          content: this.inputinner,
          parent_id: this.replyid
        }
      })
      const { statusCode, data } = res.data
      if (statusCode == 200) {
        this.getpostcomment()
        this.inputinner = ''
        this.isShow = false
        this.data.comment_length++
        this.replyid = ''
        this.replynickname = ''
      }
    },
    async like() {
      const res = await this.$axios.get(`/post_like/${this.id}`)
      const { statusCode, message } = res.data
      if (statusCode === 200) {
        this.$toast.success(message)
        this.getinfo()
      }
    },
    async handelerfocus() {
      this.isShow = true
      await this.$nextTick()
      this.$refs.textarea.focus()
    },
    handelerblur() {
      //判断inputinner是否有内容,有内容则不需要失去焦点隐藏
      if (!this.inputinner) {
        this.isShow = false
        this.replyid = ''
        this.replynickname = ''
      }
    },
    async reply(id, nickname) {
      this.replyid = id
      this.replynickname = nickname

      this.isShow = true
      await this.$nextTick()
      this.$refs.textarea.focus()
    },

    //收藏的功能
    async star() {
      const res = await this.$axios.get(`/post_star/${this.id}`)
      const { statusCode, message } = res.data
      if (statusCode === 200) {
        this.$toast.success(message)
        this.getinfo()
      }
    }
  },
  created() {
    this.id = this.$route.query.id

    this.getinfo()
    this.getpostcomment()
  }
}
</script>

<style lang="less" scoped>
.post-info {
  padding-bottom: 60px;
  .imgpost {
    .header {
      display: flex;
      //   border: 1px solid #000;
      padding-right: 5px;
      .left,
      .right {
        width: 40px;
        height: 54px;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
      }
      .right {
        width: 80px;
        .focu,
        .focued {
          border: 1px solid #ccc;
          height: 30px;
          border-radius: 30px;
          line-height: 30px;
          padding: 0 4px;
        }
        .focu {
          background-color: red;
        }
      }
      .center {
        flex: 1;
        span {
          font-size: 65px;
          font-weight: 500;
          height: 54px;
          line-height: 54px;
        }
      }
    }
    .inner {
      border-bottom: 3px solid #ccc;
      padding: 15px;
      .title {
        font-size: 20px;
        font-weight: 600;
      }
      .userinfo {
        padding: 8px 0;
        color: #aaa;
        font-size: 12px;
        span {
          margin-right: 8px;
        }
      }
      /deep/ .postinner {
        font-size: 14px;
        padding-top: 8px;
        word-wrap: break-word;
        p {
          // text-align: center;
          img {
            width: 330px;
            object-fit: cover;
            display: block;
          }
        }
        .photo {
          padding: 10px 0;
          a {
            text-align: center;

            img {
              width: 330px;
              object-fit: cover;
              display: block;
            }
          }
        }
      }
      /deep/ video {
        width: 100%;
      }
      .weixin {
        display: flex;
        justify-content: space-evenly;
        padding: 30px 10px;
        span {
          font-size: 16px;
          border: 1px solid #000;
          height: 30px;
          line-height: 30px;
          border-radius: 30px;
          padding: 2px 10px;
          color: green;
        }
        .haslike {
          border: 1px solid red;
          color: red;
        }
      }
    }
    .follow {
      .title {
        text-align: center;
        font-size: 18px;
        padding: 15px 0;
      }
      .empty {
        text-align: center;
        padding: 15px 0;
      }
    }
  }
  .commenbt {
    display: flex;
    // justify-content: space-around;
    // line-height: 40px;
    height: 45px;
    padding: 5px 0;
    .input {
      flex: 1;
      display: flex;
      padding: 4px 8px;
      input {
        width: 100%;
        height: 30px;
        border-radius: 30px;
        padding-left: 12px;
        background-color: #ddd;
        flex: 1;
        line-height: 30px;
        outline: none;
        border: none;
      }
    }
    .icon {
      width: 100px;
      right: 0;
      display: flex;
      justify-content: space-around;
      height: 30px;
      line-height: 30px;
      position: relative;
      .iconfont {
        font-size: 20px;
      }
      .hasstar {
        color: red;
        font-weight: 600;
      }
      .count {
        background-color: red;
        text-align: center;
        width: 20px;
        height: 15px;
        border-radius: 15px;
        color: white;
        font-size: 8px;
        position: absolute;
        top: 0;
        left: 13px;
        line-height: 15px;
      }
    }
  }
  .textarea {
    padding: 10px;

    display: flex;
    align-items: flex-end;
    textarea {
      height: 60px;
      outline: none;
      flex: 1;
      border-radius: 10px;
      background-color: #ddd;
      border: none;
      padding: 10px;
    }
    .send {
      border: none;
      border: 1px solid red;
      padding: 0px 10px;
      color: white;
      background-color: red;
      height: 30px;
      border-radius: 30px;
      outline: none;
      margin: 0 5px;
      line-height: 30px;
    }
  }
  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: white;
    width: 100%;
  }
}
</style>
