<template>
  <div>
    <hm-header>注册</hm-header>
    <hm-logo></hm-logo>
    <hm-input
      ref="username"
      placeholder="请输入用户名"
      v-model="username"
      type="text"
      :rule="/^1\d{3,10}$/"
      message="用户名格式不正确"
    ></hm-input>
    <hm-input
      ref="nikename"
      placeholder="请输入昵称"
      v-model="nikename"
      type="text"
      :rule="/^[\u4e00-\u9fa5]{3,5}$/"
      message="昵称格式不正确"
    ></hm-input>
    <hm-input
      ref="password"
      placeholder="请输入密码"
      v-model="password"
      type="password"
      :rule="/^\d{3,10}$/"
      message="密码格式不正确"
    ></hm-input>
    <hm-button @click="registerFn">注册</hm-button>
    <div class="goregister">
      <span>已有账号?去</span><router-link to="/login">登录</router-link>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      username: '',
      password: '',
      nikename: ''
    }
  },
  methods: {
    async registerFn() {
      console.log('注册')
      const result1 = this.$refs.username.validate(this.username)
      const result2 = this.$refs.password.validate(this.password)
      const result3 = this.$refs.nikename.validate(this.nikename)
      //表单校验
      if (result1 && result2 && result3) {
        //发送ajax请求
        const res = await this.$axios({
          method: 'post',
          url: '/register',
          data: {
            username: this.username,
            password: this.password,
            nickname: this.nikename
          }
        })
        if (res.data.statusCode == 200) {
          // console.log(res.data.message);
          //注册成功
          this.$toast.success('注册成功')
          //命名路由实现params路由传值
          this.$router.push({
            name: 'login',
            params: {
              username: this.username,
              password: this.password
            }
          })
        }
      }
    }
  }
}
</script>

<style lang="less" scoped>
.goregister {
  margin-top: 20px;
  text-align: right;
  padding-right: 15px;
  span {
    font-size: 15px;
  }
  a {
    font-size: 15px;
    color: orange;
  }
}
</style>
