<template>
  <div class="search">
    <div class="header">
      <div class="left">
        <span class="iconfont iconjiantou2" @click="back"></span>
      </div>
      <div class="center">
        <input
          class="scinput"
          v-model="keyword"
          placeholder="请输入关键字"
          left-icon="i iconfont iconsearch"
          @input="input"
        />
        <span class="iconfont iconsearch"></span>
      </div>
      <div class="right" @click="search">
        <div class="btnsearch">搜索</div>
      </div>
    </div>
    <!-- 输入推荐的渲染 -->
    <div class="input_recommend" v-if="recommendlist.length">
      <div class="list">
        <div
          class="item"
          v-for="item in recommendlist"
          :key="item.title"
          @click="recommend_search(item.title)"
        >{{ item.title }}</div>
      </div>
    </div>

    <!-- 搜索历史和热门搜索的渲染 -->
    <div class="item" v-else-if="!postlist.length">
      <div class="history">
        <p>历史记录</p>
        <div class="inner">
          <span v-for="item in history" :key="item" @click="history_search(item)">{{ item }}</span>
        </div>
      </div>
      <div class="hotsearch">
        <p>热门搜索</p>
        <div class="inner">
          <span v-for="item in hothistory" :key="item" @click="hothistory_search(item)">{{ item }}</span>
        </div>
      </div>
    </div>

    <!-- 文章详情的展示 -->
    <div class="content" v-else>
      <hm-collect v-for="item in postlist" :key="item.id" :item="item" @click="goinfo(item.id)"></hm-collect>
    </div>
  </div>
</template>

<script>
import _ from 'lodash'
export default {
  data() {
    return {
      keyword: '',
      postlist: [],
      history: [],
      hothistory: [],
      recommendlist: []
    }
  },
  methods: {
    async search() {
      this.recommendlist = []
      const res = await this.$axios.get('/post_search', {
        params: {
          keyword: this.keyword
        }
      })
      const { statusCode, data } = res.data
      if (statusCode === 200) {
        this.postlist = data
        //判断搜索的关键字是否在搜索的历史记录里
        const idx = this.history.findIndex(item => {
          return item == this.keyword
        })
        if (idx != -1) {
          this.history.splice(idx, 1)
          this.history.unshift(this.keyword)
        } else {
          this.history.unshift(this.keyword)
        }
        if (this.history.length > 6) {
          this.history.pop()
        }
      }
    },
    goinfo(id) {
      this.$router.push(`/postinfo?id=${id}`)
    },
    back() {
      if (this.keyword) {
        this.keyword = ''
        this.postlist = []
      } else {
        this.$router.back()
      }
    },
    history_search(item) {
      this.keyword = item
      this.search()
    },
    hothistory_search(item) {
      this.keyword = item
      this.search()
    },
    recommend_search(item) {
      this.keyword = item
      this.search()
    },
    input: _.debounce(async function() {
      if (!this.keyword) {
        return
      }
      const res = await this.$axios.get('/post_search_recommend', {
        params: {
          keyword: this.keyword
        }
      })
      const { statusCode, data } = res.data
      if (statusCode === 200) {
        this.recommendlist = data
      }
    }, 1000)
  },
  created() {
    const history = JSON.parse(localStorage.getItem('history'))
    const hothistory = JSON.parse(localStorage.getItem('hothistory'))
    if (history) {
      this.history = history
    }
    this.hothistory = ['关', '亲爱的', '非', '复工']
  },
  watch: {
    history: {
      deep: true,
      handler() {
        localStorage.setItem('history', JSON.stringify(this.history))
      }
    },
    keyword() {
      if (this.keyword.length === 0) {
        this.recommendlist = []
      }
    }
  }
}
</script>

<style lang="less" scoped>
.search {
  padding: 5px 10px;

  .header {
    display: flex;
    padding: 5px;
    position: relative;

    .left,
    .right {
      width: 30px;
      text-align: center;
      height: 30px;
      line-height: 30px;
    }

    .center {
      flex: 1;
      height: 30px;
      position: relative;

      /deep/ input {
        border: 1px solid #000;
        border-radius: 50px;
        height: 30px;
        width: 100%;
        line-height: 10px;
        padding-left: 30px;
      }

      span {
        position: absolute;
        left: 7px;
        top: 7px;
      }
    }
  }
  .history {
    border-bottom: 1px solid #ccc;
    overflow: hidden;
    padding: 20px;
    p {
      font-size: 14px;
      padding: 10px 0;
      font-weight: 600;
    }
    .inner {
      // height: 50px;
    }
    span {
      padding: 5px 10px;
      border: 1px solid #000;
      background-color: #eee;
      float: left;
      margin-right: 10px;
      margin-bottom: 10px;
    }
  }
  .hotsearch {
    padding: 20px;
    p {
      font-size: 14px;
      padding: 10px 0;
      font-weight: 600;
    }
    .inner {
      // height: 50px;
    }
    span {
      padding: 5px 10px;
      border: 1px solid #000;
      background-color: #eee;
      float: left;
      margin-right: 10px;
      margin-bottom: 10px;
    }
  }
  .input_recommend {
    position: absolute;
    top: 43px;
    left: 63px;
    width: 68%;
    .list {
      .item {
        border-bottom: 1px dashed #000;
        height: 30px;
        line-height: 30px;
        font-size: 14px;

        width: 100%;

        // 设置单行省略号
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}
</style>
