<template>
  <div class="user">
    <hm-header>个人中心</hm-header>
    <div class="info" @click="$router.push('/editinfo')">
      <div class="left">
        <img :src="$axios.defaults.baseURL + info.head_img" alt />
      </div>
      <div class="center">
        <div class="top">
          <span v-if="info.gender === 1" class="iconfont iconxingbienan"></span>
          <span v-else class="iconfont iconxingbienv"></span>
          <span>{{ info.nickname }}</span>
        </div>
        <span>{{ info.create_date | date }}</span>
      </div>
      <div class="right">
        <router-link class="iconfont iconjiantou1" to="/editinfo"></router-link>
      </div>
    </div>

    <hm-navbar title="我的关注" inner="关注的用户" @click="$router.push('/focus')"></hm-navbar>
    <hm-navbar title="我的跟帖" inner="跟帖/回复" @click="$router.push('/follow')"></hm-navbar>
    <hm-navbar title="我的收藏" inner="文章/视频" @click="$router.push('/collect')"></hm-navbar>
    <hm-navbar title="栏目管理" @click="$router.push('/category')"></hm-navbar>
    <hm-navbar title="设置" inner @click="$router.push('/editinfo')"></hm-navbar>
    <hm-navbar title="首页" inner @click="$router.push('/home')"></hm-navbar>
    <hm-navbar title="退出" inner @click="logout"></hm-navbar>
  </div>
</template>

<script>
export default {
  data() {
    return {
      info: {}
    }
  },
  created() {
    const token = localStorage.getItem('token')
    const user_id = localStorage.getItem('user_id')
    this.$axios({
      method: 'get',
      url: `/user/${user_id}`,
      headers: { Authorization: token }
    }).then(res => {
      const { statusCode, data, message } = res.data
      this.info = data

      //判断token是否有效
      if (statusCode === 401 && message === '用户信息验证失败') {
        this.$router.push('/login')
      }
    })
  },
  methods: {
    logout() {
      this.$dialog
        .confirm({
          title: '温馨提示',
          message: '确定退出吗'
        })
        .then(() => {
          //删除掉本地缓存的token和user_id
          localStorage.removeItem('token')
          localStorage.removeItem('user_id')
          //切换路由为登录页面
          this.$router.push('/login')
          this.$toast.success('退出成功')
        })
        .catch(() => {
          this.$toast('取消退出')
        })
    }
  }
}
</script>

<style lang="less" scoped>
.user {
  .info {
    display: flex;
    padding: 30px 0;
    border-bottom: 1px solid #999;
    // height: 120px;
    // line-height: 100px;
    .left {
      display: inline;
      padding-left: 20px;

      img {
        width: 60px;
        height: 60px;
        border-radius: 100px;
        margin: 0 15px;
      }
    }
    .center {
      height: 60px;
      flex: 1;
      padding-right: 20px;
      .top {
        margin: 10px 0;
        .iconxingbienan {
          color: blue;
        }
        .iconxingbienv {
          color: pink;
        }
      }
    }
    .right {
      text-align: right;
      width: 30px;
      height: 50px;
      line-height: 50px;
      font-size: 20px;
      padding-right: 20px;
    }
  }
}
</style>
