<template>
  <div class="button">
    <div class="buttonclick" @click="clickFn"><slot></slot></div>
  </div>
</template>

<script>
export default {
  methods: {
    clickFn() {
      this.$emit('click')
    }
  }
}
</script>

<style lang="less" scoped>
.button {
  width: 100%;
  height: 30px;
  margin-top: 50px;
  .buttonclick {
    margin: 10px;
    border-radius: 100px;
    border: 1px solid #000;
    text-align: center;
    margin: 10px;
    border-radius: 100px;
    background-color: red;
    height: 40px;
    line-height: 40px;
    color: white;
  }
}
</style>
