<template>
  <div class="list">
    <div class="collect">
      <!-- 视频显示 -->
      <div class="video" v-if="item.type===2" @click="goinfo(item.id)">
        <div class="upimg-top">{{ item.title }}</div>
        <div class="upimg-center">
          <img v-for="item in item.cover" :key="item.id" :src="fixedurl(item.url)" alt />
          <div class="play">
            <span class="iconfont iconshipin"></span>
          </div>
        </div>

        <div class="user-follow">
          <span>{{ item.user.nickname }}</span>
          <span>{{item.comment_length}}跟帖</span>
        </div>
      </div>
      <!-- 一张图片时显示 -->
      <div class="oneimg" v-else-if="item.cover.length === 1" @click="goinfo(item.id)">
        <div class="left">
          <div class="title">{{ item.title }}</div>
          <div class="user-follow">
            <span>{{ item.user.nickname }}</span>
            <span>{{item.comment_length}}跟帖</span>
          </div>
        </div>
        <div class="right">
          <img :src="fixedurl(item.cover[0].url)" alt />
        </div>
      </div>
      <!-- //多张图片时显示 -->
      <div class="upimg" v-else @click="goinfo(item.id)">
        <div class="upimg-top">{{ item.title }}</div>
        <div class="upimg-center">
          <img v-for="item in item.cover" :key="item.id" :src="fixedurl(item.url)" alt />
        </div>

        <div class="user-follow">
          <span>{{ item.user.nickname }}</span>
          <span>{{ item.comment_length }}跟帖</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['item'],
  methods: {
    fixedurl(url) {
      if (url.startsWith('http')) {
        return url
      } else {
        return this.$axios.defaults.baseURL + url
      }
    },
    goinfo(id) {
      // console.log(id)
      this.$emit('click', id)
    }
  }
}
</script>

<style lang="less" scoped>
.collect {
  .video {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    .upimg-top {
      font-size: 14px;
      padding: 5px;
    }
    .upimg-center {
      position: relative;

      img {
        width: 340px;
        height: 170px;
        display: block;
        object-fit: cover;
      }
      .play {
        width: 60px;
        height: 60px;
        background-color: rgba(0, 0, 0, 0.5);
        border: 1px solid #ccc;
        border-radius: 50%;
        text-align: center;
        line-height: 60px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        span {
          font-size: 32px;
        }
      }
    }

    .user-follow {
      font-size: 12px;
      padding: 10px;
      span {
        padding: 10px 10px 10px 0;
      }
    }
  }
  .oneimg {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    .left {
      flex: 1;
      padding: 5px;
      .title {
        font-size: 14px;
      }
      .user-follow {
        font-size: 12px;
        padding-top: 20px;
        height: 20px;
        line-height: 20px;
        span {
          padding: 0 5px;
        }
      }
    }
    .right {
      width: 120px;
      height: 90px;
    }
    img {
      width: 121px;
      height: 75px;
      display: block;
      right: 0;
      object-fit: cover;
    }
  }
  .upimg {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    .upimg-top {
      font-size: 14px;
      padding: 5px;
    }
    .upimg-center {
      display: flex;
      justify-content: space-between;
      img {
        width: 112px;
        height: 74px;
        display: block;
        object-fit: cover;
      }
    }

    .user-follow {
      font-size: 12px;
      padding: 10px;
      span {
        padding: 10px 10px 10px 0;
      }
    }
  }
}
</style>
