<template>
 
      <!-- 弹出框 -->
    <div>我是内容</div>
  
</template>

<script>
export default {
data(){
    return {
      info:''
    }
},

methods:{
    beforeClose(action,done){
        this.$emit('click' ,action,done,this.info)
    }
}
}
</script>

<style>

</style>