<template>
  <div class="wrapper">
    <hm-floor
      v-if="comment.parent"
      :comment="comment.parent"
      :count="count - 1"
      @reply="reply"
    ></hm-floor>
    <div class="floor" ref="rootfloor">
      <div class="header">
        <div class="left">{{ count }}楼{{ comment.user.nickname }}</div>
        <div class="center">{{ comment.creat_date | date2 }}</div>
        <div class="right" @click="reply(comment.id, comment.user.nickname)">
          <span>回复</span>
        </div>
      </div>
      <div class="content">{{ comment.content }}</div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'HmFloor',
  data() {
    return {}
  },
  props: ['comment', 'count'],
  methods: {
    reply(id, nickname) {
      console.log(id)
      console.log(this)
      //   console.log(this.$refs.rootfloor)

      //   console.log(this.$emit)
      this.$emit('reply', id, nickname)
    }
  }
}
</script>

<style lang="less" scoped>
.floor {
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #eee;
  .header {
    display: flex;
    padding: 5px 0;
    .center {
      flex: 1;
    }
    .right {
      color: #ccc;
      font-size: 10px;
      span {
        text-align: right;
      }
    }
  }
  .content {
    padding: 5px 0;
    font-size: 12px;
  }
}
</style>
