<template>
  <div class="hmfocus">
    <div class="left">
      <img :src="this.$axios.defaults.baseURL + head_img" alt />
    </div>
    <div class="center">
      <div>
        <span>{{ nickname }}</span>
      </div>
      <div>
        <span>{{ create_date | date }}</span>
      </div>
    </div>
    <div class="right">
      <van-button type="primary" class="cancelfocus" @click="cacelfocusFn(id)">取消关注</van-button>
    </div>
  </div>
</template>

<script>
export default {
  props: ['nickname', 'head_img', 'create_date', 'id'],
  methods: {
    cacelfocusFn(id) {
      this.$emit('click', id)
    }
  }
}
</script>

<style lang="less" scoped>
.hmfocus {
  border-bottom: 1px solid #999;
  display: flex;
  padding: 10px;
  width: 100%;
  align-items: center;
  .left {
    img {
      width: 60px;
      height: 60px;
      border-radius: 100px;
      display: block;
    }
  }
  .center {
    padding-left: 30px;
    flex: 1;
  }
  .right {
    width: 120px;
    .cancelfocus {
      border-radius: 50px;
      width: 90px;
      height: 30px;
      line-height: 30px;
    }
  }
}
</style>
