<template>
  <div class="header">
    <span class=" left iconfont iconjiantou2" @click="$router.go(-1)"></span>
    <div class="center"><slot></slot></div>
    <span class=" right iconfont"></span>
  </div>
</template>

<script>
export default {}
</script>
<style lang="less" scoped>
.header {
  display: flex;
  height: 40px;
  border-bottom: 1px solid #000;
  line-height: 40px;
}
.left,
.right {
  width: 40px;
  height: 40px;
  margin: 0 10px;
  // background-color: red;
  //   display: block;
}
.center {
  flex: 1;
  text-align: center;
  font-size: 20px;
}
</style>
