<template>
  <div class="hminput">
    <input
      :type="type"
      :placeholder="placeholder"
      :value="value"
      @input="inputFn"
      :rule="rule"
      :message="message"
      :class="{ success: status === 'success', error: status === 'error' }"
    />
    <div class="tips" v-show="status === 'error'">{{ message }}</div>
  </div>
</template>

<script>
export default {
  props: {
    type: {
      type: String,
      default: 'text'
    },
    placeholder: {
      type: String,
      default: '请输入..'
    },
    value: String,
    rule: RegExp,
    message: String
  },

  data() {
    return {
      status: ''
    }
  },
  methods: {
    inputFn(e) {
      const value = e.target.value

      this.$emit('input', value)

      //表单校验

      this.validate(value)
    },
    validate(value) {
      if (this.rule) {
        if (this.rule.test(value)) {
          this.status = 'success'
          return true
        } else {
          this.status = 'error'
          return false
        }
      }
    }
  }
}
</script>

<style lang="less" scoped>
.hminput {
  width: 100%;
  height: 60px;
  padding: 0 15px;
  input {
    outline: none;
    border: none;
    border-bottom: 2px solid #ccc;
    width: 100%;
    height: 40px;
    &.success {
      border-color: green;
    }
    &.error {
      border-color: red;
    }
  }
  .tips {
    display: inline;
    color: red;
    font-size: 12px;
  }
}
</style>
