<template>
  <div class="logo">
      <span class="iconfont iconnew iconlogo"></span>
  </div>
</template>

<script>
export default {

}
</script>

<style lang="less" scoped>
.logo {
    width: 100%;
    height: 150px;
    color: red;
    text-align: center;
   
    .iconlogo{
        // display: block;
        width: 100px;
        height: 100px;
        font-size: 150px;
        text-align: center;
    }
}
</style>