<template>
  <div class="navbar" @click="clickFn">
    <div class="left">{{ title }}</div>
    <div class="center">{{ inner }}</div>
    <div class="right"><span class="iconfont iconjiantou1"></span></div>
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      require: true
    },
    inner: String
  },
  methods: {
    clickFn() {
      this.$emit('click')
    }
  }
}
</script>

<style lang="less" scoped>
.navbar {
  padding: 15px 0;
  display: flex;
  border-bottom: 1px solid #999;
  margin-left: 40px;
  .left {
    width: 100px;
  }
  .center {
    flex: 1;
    text-align: right;
    color: #666;
    padding-right: 20px;
  }
  .right {
    width: 30px;
  }
}
</style>
