<template>
  <div class="wonderful">
    <div class="content" v-for="item in list" :key="item.id">
      <div class="top">
        <div class="left">
          <img :src="fixedurl(item.user.head_img)" alt />
        </div>
        <div class="center">
          <div>{{ item.user.nickname }}</div>
          <div>{{ item.create_date | date2 }}</div>
        </div>
        <div class="right" @click="reply(item.id, item.user.nickname)">
          回复
        </div>
      </div>
      <div class="contentinner">
        <hm-floor
          v-if="item.parent"
          :comment="item.parent"
          :count="getcount(0, item)"
          @reply="reply"
        ></hm-floor>
        <div>{{ item.content }}</div>
      </div>
    </div>
  </div>
</template>

<script>
import HmFloor from './HmFloor'
export default {
  components: {
    HmFloor
  },
  props: ['list'],
  data() {
    return {}
  },
  methods: {
    fixedurl(url) {
      if (url.startsWith('http')) {
        return url
      } else {
        return this.$axios.defaults.baseURL + url
      }
    },
    getcount(count, obj) {
      if (obj.parent) {
        return this.getcount(count + 1, obj.parent)
      } else {
        return count
      }
    },
    reply(id, nickname) {
      // console.log(id)
      this.$emit('reply', id, nickname)
    }
  },
  created() {
    // console.log(this.list)
  }
}
</script>

<style lang="less" scoped>
.wonderful {
  .title {
    text-align: center;
    font-size: 18px;
    padding: 15px 0;
  }
  .content {
    border: 1px solid #ccc;
    padding: 10px;

    .top {
      display: flex;
      justify-content: space-between;
      padding: 10px;
      .left,
      .right {
        width: 40px;
      }
      .left {
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 60px;
        // padding-left: 15px;
        img {
          display: block;
          width: 30px;
          height: 30px;
          border-radius: 30px;
        }
      }
      .right {
        color: #999;
        text-align: right;
      }
      .center {
        flex: 1;
        left: 0;
      }
    }
  }
  .contentinner {
    font-size: 14px;
    padding-bottom: 8px;
  }
}
</style>
