<template>
  <keep-alive :include="cacheList">
    <router-view></router-view>
  </keep-alive>
</template>

<script>
import { mapState } from 'vuex'
export default {
  computed: {
    ...mapState(['cacheList'])

    //写自己的计算属性
  }
}
</script>

<style></style>
